* {
    list-style: none;
    margin: 0; 
    padding: 0;
    box-sizing:
    border-box; 
  }

h1, h2, h3{

    font-family: 'Playfair Display', serif;
}


p{
    font-family: 'Lora', serif;

}



/* font-family: 'Work Sans', sans-serif; */


/*nav*/


.container-header{
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin: 30px 10px;
  position: relative;
  padding: 0px 50px;;

}

@media (max-width:768px){
    .container-header{
        justify-content: flex-end;
        
    }
    
}

.menu{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    
}

@media (max-width:768px){
    .menu{
        display:none;

    }
    
}


.opcion{
    justify-content: space-around;
    text-decoration: none;
    color: black;
    /* font-family: ; */
}


.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media (max-width:768px){
    .logo{
        left: 5%;
        transform: translate(-0%, -50%);
    }
    
}

.iconos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap:10px;
}

@media (min-width:768px){
    .iconos{
        grid-template-columns: repeat(2, 1fr);
    }   
}


.carro-compras, .navegacion-movil{
    width: 2rem;
    height: 2rem;
    
}

@media (min-width:768px){
    .navegacion-movil{
       display: none;
    }   
}


/* header */
.giro{
    background-image: url(./Imagenes/slider-2.jpg);
    background-repeat: no-repeat;
    background-position:bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    height:720px; 
}


@media (max-width:768px){
    .giro{
       height:400px;
    }   
}

.giro h1, p{
    text-align: center;
    
}



/* banner */

.banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    gap: 2rem;
    padding: 5% 0%;


}

.sale{
    width: 100%;
    aspect-ratio: 2.1;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0.5rem 2rem;
       
}


.off1{
    background-image: url(./Imagenes/banner-1.png);
    
    
}

.off2{
    background-image: url(./Imagenes/banner-2.png);
}



/* section1 */

.section-latest{
    background-image: url(./Imagenes/bg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products-latest{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

}

.cont-latest{
    aspect-ratio: 0.94;
    background-size: cover;
}

.product1{
    background-image: url(./Imagenes/product-detalis-l1.jpg);

}

.product2{
    background-image: url(./Imagenes/product-detalis-l2.jpg);

}

.product3{
    background-image: url(./Imagenes/product-detalis-l3.jpg);

}

.product4{
    background-image: url(./Imagenes/product-detalis-l4.jpg);

}

.anuncio{
  display: flex;
  justify-content: center;
  text-align: center;


}
.img-anuncio{
  background-image: url(./Imagenes/testi.png);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: bottom;
  padding: 100px;
}

/* section 2 new products */

.section-new-product{
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.product-new{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

}

.cont-new-product{
    aspect-ratio: 0.94;
    background-size: cover;
}


.product-new1{
    background-image: url(./Imagenes/product-1.jpg);
}

.product-new2{
    background-image: url(./Imagenes/product-3.jpg);
}

.product-new3{
    background-image: url(./Imagenes/product-5.jpg);
}

.product-new4{
    background-image: url(./Imagenes/product-7.jpg);
}

.product-new5{
    background-image: url(./Imagenes/product-2.jpg);
}

.product-new6{
    background-image: url(./Imagenes/product-4.jpg);
}

.product-new7{
    background-image: url(./Imagenes/product-6.jpg);
}

.product-new8{
    background-image: url(./Imagenes/product-8.jpg);
}

/* section3 latest new */


.section3-latest-new{
    background-image: url(./Imagenes/bg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products-latest-new{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

}

.cont-latest-new{
    aspect-ratio: 0.92;
    background-size: cover;
}

.product-latest-new1{
    background-image: url(./Imagenes/blog-single-1.jpg);

}

.product-latest-new2{
    background-image: url(./Imagenes/blog-single-2.jpg);

}


.product-latest-new3{
    background-image: url(./Imagenes/blog-single-3.jpg);

}

/* clientes */



.section-clientes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.exp-clientes{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;

}

.cont-clientes{
    aspect-ratio: 2.07;
    background-size: cover;
}


.clientes1{
    background-image: url(./Imagenes/1.jpg)

}

.clientes2{
    background-image: url(./Imagenes/2.jpg)

}

.clientes3{
    background-image: url(./Imagenes/3.jpg)

}

.clientes4{
    background-image: url(./Imagenes/4.jpg)

}

.clientes5{
    background-image: url(./Imagenes/5.jpg)

}

/* footer */

.container-footer{
    display:grid;
    grid-template-columns: repeat(4, 1fr);

}

